.div-right {
  float:right;
  margin: 5px;
}
.div-defs{
  float:left;
  margin-left: 5px;
}
.input-elo{
  width: 50px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 1px solid #B4B4B4;
  margin-left: 3px;
  float:left;
}
.div-data{
  background: #F0F0F0;
  border: 1px solid #A5A5A5;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
input[readonly]{
  background-color: rgb(232, 232, 232);
}
label{
  width: 50px;
  float: left;
}
th, .dfsLabel{
  padding: .4em .4em .4em .4em;
  border: 1px solid #999999;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  vertical-align: center;
  text-align: left;
  height: 12px;
  font-size: 12px;
  background-color: silver;
  width: 40px;
  float:left;
}
td:not([empty]){
  border: 1px solid #999999;
  font-size: 14px;
  background-color: white;
}
td{
  width: 100px;
}
